@media (max-width: 435px) {

     .gridsp {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
     }
    
}

@media (min-width: 435px) and (max-width: 576px) {

     .gridsp {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
     }

}

@media (min-width: 577px) and (max-width: 767px) {

     .gridsp{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
     }

}

@media (min-width: 768px) and (max-width: 992px) {

     .gridsp{
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
     }
}


@media (min-width: 992px) and (max-width: 1200px) {

     .gridsp{
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
     }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .gridsp{
        display: grid;
        grid-template-columns: repeat(4, 1fr) !important;
    }
}
