.container-cart{
    background-color: #FEACB8;
    width: 90%;
    border-radius: 3vh;
    margin-block: 20px;
}   

.cart-title{
    margin: 10px;
   
}

.text-tinhtrang {
    float: right;
}

.container-user-details{
    display:flex;
    justify-content: center;
}

.text-ma{
    float: left;
    /* width: 50%; */
    height: 13%;
    font-weight: 500;
    font-size: x-large;
    letter-spacing: -0.015em;
    color: #000000;
    margin-left: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.break-line{
    clear: left;
    width: 99.8%;
    height: 0%;
    border: 0.1vh solid rgba(0, 0, 0, 0.3);
    /* top: 10%; */
}

.cart-title img {
     width: 8%;
     min-width: 30px;
}

.voucher-img img {
    max-height: 180px;
    border-radius: 2vh;
    width: 100%;
    height: 100%;
}

.cart-info {
    padding: 15px 15px 0 15px;
}

.cart-condition {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cart-condition a {
    font-weight: bold;
}

.cart-detail {
    padding-inline: 30px;
    padding-block: 15px;
}

.container-cart{
    background-color: #FEACB8;
    width: 90%;
    border-radius: 3vh;
    /* margin-block: 10px; */
}   

.cart-title{
    margin: 10px;
   
}

.text-tinhtrang {
    float: right;
}

.container-user-details{
    display:flex;
    justify-content: center;
}

.text-ma{
    float: left;
    /* width: 50%; */
    height: 13%;
    font-weight: 500;
    font-size: x-large;
    letter-spacing: -0.015em;
    color: #000000;
    margin-left: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.break-line{
    clear: left;
    width: 99.8%;
    height: 0%;
    border: 0.1vh solid rgba(0, 0, 0, 0.3);
    /* top: 10%; */
}

.cart-title img {
     width: 8%;
     min-width: 30px;
}

.voucher-img img {
    max-height: 180px;
    border-radius: 2vh;
    width: 100%;
    /* height: 100%; */
}

.cart-info {
    padding: 15px 15px 0 15px;
}

.cart-condition {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cart-condition a {
    font-weight: bold;
}

.cart-detail {
    padding-inline: 30px;
    padding-block: 15px;
}

.text-tongtien{
    position: relative;
    float: right;
    /* width: 37%; */
    margin-right: 3%;
    /* top: 16%; */
    /* font-family: Montserrat; */
    /* font-style: normal; */
    /* font-weight: 500; */
    font-size: 25px;
    /* letter-spacing: -0.015em; */
    color: #000000;
    margin-bottom: 10px;
    margin-top: 20px;
}
/*CSS trang thai danh gia*/
.text-ttdanhgia{
    position: relative;
    /* width: 20%; */
    height: 14%;
    /* left: 5.5%; */
    /* top: 35.5%; */
    /* font-family: Montserrat; */
    /* font-style: normal; */
    /* font-weight: 500; */
    /* font-size: 2.25vh; */
    letter-spacing: -0.015em;
    /* color: rgba(0, 0, 0, 0.5); */
}
/*CSS button mua lai*/
.btn-mualai{
    position: relative;
    background: #FBBC05;
    box-shadow: 0.3vh 0.3vh 0px rgba(0, 0, 0, 0.25);
    border-radius: 1vh;
    color: #FFFFFF;
    width: 100%;
    height: 80%;
}
/*CSS button lien he shop*/
.btn-lienhe{
    position: relative;
    /* top: 6.5%; */
    /* left: 35%; */
    box-shadow: 0.3vh 0.3vh 0px rgba(0, 0, 0, 0.25);
    border-radius: 1vh;
    /* font-family: Roboto; */
    /* font-style: normal; */
    /* font-weight: normal; */
    font-size: 18px;
    width: 100%;
    height: 80%;
    margin-bottom: 5px;
}
/*CSS button chi tiet*/
.btn-chitiet{
    position: relative;
    /* top: 6.5%; */
    /* left: 37.5%; */
    box-shadow: 0.3vh 0.3vh 0px rgba(0, 0, 0, 0.25);
    border-radius: 1vh;
    /* font-family: Roboto; */
    /* font-style: normal; */
    /* font-weight: normal; */
    /* font-size: 3.3vh; */
    width: 100%;
    height: 80%;
}
/* rÃƒÂª vÃƒÂ o nÃƒÂºt xuÃ¡ÂºÂ¥t hiÃ¡Â»â€¡n con trÃ¡Â»Â */
button:hover{
    cursor: pointer;
}   

.row.linedanhgia {
    margin-left: 3px;
    width: 100%;
    padding-bottom: 15px;
    /* margin-bottom: 10px; */
    /* display: flex; */
    /* background: white; */
}
.text-sl{
    position: relative;
    width: 100%;
    /* height: 11%; */
    /* left: 22.2%; */
    /* top: -58%; */
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 3.3vh;
    letter-spacing: -0.015em;
    color: #000000;
}
/*CSS don gia*/
.text-dongia{
    position: relative;
    width: 31.5%;
    /* height: 11%; */
    /* left: 66.3%; */
    top: -40px;
    float: right;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 3.3vh;
    text-align: right;
    letter-spacing: -0.015em;
    color: #000000;
}